<div class="brand-mission">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-0 col-md-5">
        {{ section.settings.image | img_url: '760x' | img_tag }}
      </div>
      <div class="col-12 col-md-7">
        {{ section.settings.brand_description }}
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Brand Mission",
  "class": "index-section index-section--flush",
  "settings": [{
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  }, {
    "type": "richtext",
    "id": "brand_description",
    "label": "Brand mission (description)",
    "default": "<p>Write some description for your brand here.</p>"
  }]
}
{% endschema %}
